*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container > div {
    background-color: #34495E;
    border-radius: 20px; 
    padding: 21px;
    margin: 10px;
}

.container > h1 {
   margin: 20px;
}

